.container{
    background-color: orange;
    max-width: 1200px; 
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    'header header header' 
    'menu content content'
    'footer footer footer';
}
.header{
    background-color: purple;
    height: 60px;
    grid-area: header;
}

.menu{
    background-color: brown;
    grid-area: menu;
}
.content{
    background-color: beige;
    grid-area: content;
}
.footer{
    background-color: pink; 
    grid-area: footer;
}

