.container{
    background-color: orange;
    max-width: 1200px; 
    margin: 0 auto;
}
.header{
    background-color: purple;
    height: 60px;
}
.wrapper{
    background-color: paleturquoise;
    display: flex; /*hereda a los hijos la flexibilidad
    haciendo que se creen "columnas*/
    
    /*flex-direction: row-reverse; para hacer que se invierta el flex*/
}
.menu{
    background-color: brown;
    width: 30%;
}
.content{
    background-color: beige;
    width: 70%;
}
.footer{
    background-color: pink; 
}

